/* fraunces-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/fraunces-v35-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* montserrat-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/montserrat-v29-latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* montserrat-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/montserrat-v29-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
:root {
  --color-black: #1c232b;
  --color-grey: #6c7289;
  --color-cream: #f2eae2;
  --color-white: #ffffff;
  --color-green-500: #3D8168;
  --color-green-700: #1a4032;
  --space-500: 40px;
  --space-400: 32px;
  --space-300: 24px;
  --space-200: 16px;
  --space-100: 8px;
  --space-50: 4px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--color-cream);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product__preview-card {
  border-radius: var(--space-100);
  background-color: var(--color-white);
  max-width: 350px;
  overflow: hidden;
}
.product__image {
  width: 100%;
  object-fit: cover;
  object-position: top;
}
.product__info {
  padding: var(--space-400);
  display: flex;
  flex-direction: column;
  gap: var(--space-300);
}
.product__category {
  font-size: 12px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 5px;
  font-family: "Montserrat";
  text-transform: uppercase;
  color: var(--color-grey);
}
.product__name {
  font-size: 32px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0;
  font-family: "Fraunces";
}
.product__description {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 0;
  font-family: "Montserrat";
  color: var(--color-grey);
}
.product__price {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: var(--space-200);
}
.product__price--now {
  font-size: 32px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0;
  font-family: "Fraunces";
  color: var(--color-green-500);
}
.product__price--then {
  font-size: 13px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0;
  font-family: "Montserrat";
  text-decoration: line-through;
  color: var(--color-grey);
}
.product__add-to-cart-btn {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0;
  font-family: "Montserrat";
  color: var(--color-white);
  border-radius: var(--space-100);
  background-color: var(--color-green-500);
  padding: var(--space-200) var(--space-400);
  outline: transparent;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--space-100);
}
.product__add-to-cart-btn:hover, .product__add-to-cart-btn:focus {
  background-color: var(--color-green-700);
  cursor: pointer;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/*# sourceMappingURL=style.css.map */
